<template>
  <button v-on:click="showModal = true">
    Заказать обратный звонок
  </button>
  <modal :show.sync="showModal"></modal>
</template>

<script>
	import modal from './modal.vue';
	export default {
		components: {
			modal: modal
		},
		data() {
			return {
				showModal: false
			}
		}
	}
</script>

<style scoped>
	button {
		margin: 0 auto;
		display: inline-block;
		vertical-align: top;
		padding: 0 10px;
		border: 0;
		height: 24px;
		font: 12px Arial, sans-serif;
		color: #fff;
		background-color: #dc1735;
		cursor: pointer;
		opacity: 1;
		transition: .3s ease;
	}
</style>
